<manifest package="expo.modules.wallpapermodule">
    <uses-feature android:name="android.software.live_wallpaper" android:required="true" />
    <application>
        <service
            android:name=".VideoWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
    </application>
</manifest>
